tensorflow==2.5.2
tensorboard==2.5.0
Keras
scikit-learn
category-encoders
kmodes
dask-gateway
dask-ml
dask-labextension
jupyterlab_execute_time
jupyter-resource-usage
jupyterlab-system-monitor
jupyterlab-lsp
jupyterlab-nvdashboard
python-lsp-server[all]
xgboost
optuna
