tensorflow==2.1.0
tensorboard==2.1.1
jupyter-tensorboard==0.2.0
Keras
scikit-learn
category-encoders
kmodes
dask-gateway
dask-ml
dask-labextension
jupyterlab_execute_time
jupyter-resource-usage
jupyterlab-system-monitor
jupyterlab-lsp
python-lsp-server[all]
xgboost
optuna
